#canvas{
    width: 500px;
    height: 200px;
    border: 1px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 1000ms linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 5s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    50%{left: 250px}
    100%{left: -20px}
}

#myObstacle{
    background-color: green;
    width: 10px;
    height: 20px;
    position: relative;
    top: 250px;
    left: 450px;
    animation: block 5s infinite linear;
}
div {
    background-color: white;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
@keyframes myObstacle{
    0%{left: 500px}
    50%{left: 250px}
    100%{left: -20px}
}