body {
    margin: 0;
    overflow: hidden;
    background-color: #000; /* Set the overall background color to black */
    color: #fff; /* Set default text color to white */
}

#questionnaire {
    color: #fff; /* Set text color to white for the questionnaire */
}

canvas {
    margin: auto;
    border: 1px solid #fff; /* Set border color to white for the game canvas */
    background-color: #000; /* Set canvas background color to black */
}